/HolaMundo/dist/
/ManejoVariables/build/
/ManejoCdenasBasico/nbproject/private/
/ManejoCdenasBasico/build/
/ManejoOperadores/nbproject/private/
/ManejoOperadores/build/
/PrecedenciaOperadores/nbproject/private/
/PrecedenciaOperadores/build/
/Ejemploif/nbproject/private/
/Ejemploif/build/
/EjemploIfElse/nbproject/private/
/EjemploIfElse/build/
/EjemploIfElseIfElse/nbproject/private/
/EjemploIfElseIfElse/build/
/CalculaMesSwitch/nbproject/private/
/CalculaMesSwitch/build/
/CicloWhile/nbproject/private/
/CicloWhile/build/
/CicloDoWhile/nbproject/private/
/CicloDoWhile/build/